/* Login Template made by dimi130473 (https://bootsnipp.com/snippets/bxzmb) */

/* Body */

body {
    margin: 0;
    padding: 0;
    background-color: #36393f;
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
}

/* Login */

#login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;
    background-color: #2f3136;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

/* JSON Editor */

/* Base Size */
#jsoneditor {
    height: 100%;
}

/* Save Button */
div.jsoneditor-menu>button.jsoneditor-custom-item {
    background-image: none;
}

/* Title Button */
.jsoneditor-title-item-list {
    width: 175px !important;
    background-image: none !important;
}

/* Font Size */
div.jsoneditor-menu>button>i {
    font-size: 19px;
}

/* Table Items */
div.jsoneditor-readonly {
    color: #d4d4d4;
}

div.jsoneditor-tree button.jsoneditor-button {
    filter: brightness(250%);
}

div.jsoneditor-tree button.jsoneditor-button,
div.jsoneditor-tree button.jsoneditor-button:focus,
div.jsoneditor-tree:focus {
    background-color: transparent !important;
    border: 0px solid transparent !important;
    border-color: transparent !important;
}

div.jsoneditor-value.jsoneditor-array:hover, 
div.jsoneditor-value.jsoneditor-object:hover {
    color: #e4e4e4;
}

.jsoneditor-schema-error, 
div.jsoneditor td, 
div.jsoneditor textarea, 
div.jsoneditor th, 
div.jsoneditor-field, 
div.jsoneditor-value {
    color: #e4e4e4;
}

div.jsoneditor-value.jsoneditor-string {
    color: #2acc2a;
}

div.jsoneditor-value.jsoneditor-string:hover, 
.jsoneditor-schema-error:hover, 
div.jsoneditor td, div.jsoneditor textarea:hover, 
div.jsoneditor th:hover, 
div.jsoneditor-field:hover, 
div.jsoneditor-field:focus,
div.jsoneditor-value:hover {
    color: #36393f
}

.jsoneditor-selected *
:not(.jsoneditor-type-string)
:not(.jsoneditor-icon)
:not(.jsoneditor-text)
:not(.jsoneditor-expand)
:not(.jsoneditor-menu),
.jsoneditor-highlight * {
    color: #c0c0c0 !important;
    filter: brightness(55%) !important;
}

/* Borders */
div.jsoneditor, div.jsoneditor-menu, div.jsoneditor-navigation-bar {
    border: none;
}

/* Menu */
div.jsoneditor-menu {
    background-color: #202225;
}

div.jsoneditor-navigation-bar {
    color: #e0e0e0;
    background-color: #202225;
}

/* JSON Items */
div.jsoneditor-tree {
    padding: 10px;
}

/* Search Bar */
.jsoneditor-search button {
    filter: brightness(55%);
}

/* loadingoverlay */
.loadingoverlay .loadingoverlay_element svg circle {
    fill: rgb(160 160 160) !important
}